@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'), url(../fonts/YanoneKaffeesatz.woff) format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(../fonts/Raleway.woff) format('woff');
}

body {
	margin: 0;
  font-family: "Helvetica Neue", Helvetica,Arial, sans-serif;
  -webkit-font-smoothing: antialiased !important;
  background: #EEE;
}

div.header {
  font-family: "Raleway", "Helvetica Neue", Helvetica,Arial, sans-serif;
  background: #7BE;
  color: #fff;
}

div.header h1 {
  padding: 180px 60px 40px 60px;
  margin: 0;
  font-size: 40pt;
}

div.canvas, div.dashboard {
	display: none;
}

div.canvas.active, div.dashboard.active {
	display: block;
}

div.dashboard.active.hidden {
  display: none;
}

div.canvas {
	background: #fff;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

div.canvas .info {
  font-size: large;
  position: absolute;
  top: 40%;
  width: 100%;  
  text-align: center;
}

div.canvas .info.error {
  display: block;
  color: #f22;
  max-height: 200px;
  overflow: auto;
}

div.dashboard {
	position: absolute;
	width: 230px;
	right: 30px;
	top: 30px;
  padding: 10px;
  font-family: 'Yanone Kaffeesatz', "Helvetica Neue", Helvetica,Arial, sans-serif;
}

div.dashboard.light {
  color: #fff;
  border: 1px solid #fff;
  background: #222;
  opacity: .7;
}

div.canvas canvas {
  border: none;
}

div.canvas canvas.error { 
  display: none;
}

div.dashboard .input-label {
  display: inline-block;
  text-align: right;
  width: 50px;
}

div.dashboard.light input {
  margin: 5px;
  padding: 2px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;  
}